.Welcome {
  padding: 30px;
  background: white;
  box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.2);

  &__Title {
    font-size: 26px;
    color: #232323;
  }

  &__Content {
    font-size: 16px;
    color: #232323;
    margin-top: 20px;
  }
}
