.LF {
  padding: 40px 0px 0px 0px;

  &__Title {
    display: block;
    margin: 0 auto;
    font-size: 26px;
    color: #232323;
    width: 300px;
  }
  &__Subtitle {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    color: #232323;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__input {
    display: block;
    width: 300px;
    margin: 0 auto;

    & > span {
      display: block;
      font-size: 13px;
      color: #232323;
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    & > input {
      border: 1px solid #ccc;
      height: 40px;
      min-width: 300px;
      border-radius: 4px;
      padding: 5px;
      box-sizing: border-box;
    }
  }
  & > input[type="submit"] {
    margin: 0 auto;
    width: 300px;

    &:hover {
      box-shadow: 0 8px 9px 0 rgba(238, 86, 94, 0.4);
    }
  }

  &__Error {
    color: red;
    font-size: 14px;
    display: block;
    width: 300px;
    margin: 10px auto;
    min-height: 17px;
  }
}
