* {
  padding: 0;
  margin: 0;
}

body {
  background: #f1f1f1;
}

.primary-btn {
  font-weight: bold;
  height: 50px;
  padding: 5px 15px;
  display: block;
  outline: none;
  border: none;
  font-size: 14px;
  color: white;
  background: #ee565e;
  border-radius: 9px;
  background-image: linear-gradient(141deg, #ee5561 0%, #ff7646 100%);
  transition: all 0.4s ease;
}

.Container {
  max-width: 600px;
  position: relative;
  top: 100px;
  height: 400px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  margin: 0 auto;
  margin: auto;
}
